<%= vite_javascript_tag 'admin_enrollment_edit.jsx' %>
<div id="data" enrollmentID="<%=@enrollment_id%>" location="<%=@location%>" schedule="<%=@schedule%>" students="<%=@students%>"></div>
<div id="edit"></div>
